@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

noscript{
  width: 100%;
  background-color: #005368;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

a{
  text-decoration: none !important;
  cursor: pointer;
}
